*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('/img/bekijk-hier-de-trailer-van-toy-story-4.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-seção{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informações{
    color: white;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.informações i{
    margin-right: 20px;
    font-size: 25px;
}

.formulario{
    max-width: 700px;
    margin-right: 50px;
}

.informações .formulario{
    flex: 1;
}

.formulario h2{
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.formulario .caixa-texto{
    background: rgb(200, 200, 200);
    color: white;
    border: none;
    outline: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.formulario .caixa-texto:first-child{
    margin-right: 15px;
}

.formulario textarea{
    background: rgb(200, 200, 200);
    color: white;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    outline: none;
}

.formulario .botao{
    cursor: pointer;
    float: right;
    background: black;
    color: white;
    border: none;
    width: 80px;
    height: 35px;
    font-size: 15px;
    padding: 8px 14px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
}

.formulario .botao:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}